<div class="item">
	<div class="name">{{name}}</div>
	<div class="description">{{description}}</div>
{{#if isLocked}}
	<p>{{name}}이(가) 잠겨있습니다.</p>
{{else}}
	{{#if items}}
	<p>{{name}} 안에 아래의 물건들이 들어 있습니다.</p>
	<ul class="items">
		{{#each items}}
		<li>{{name}}</li>
		{{else}}
		<li>없음</li>
		{{/each}}
	</ul>
	{{/if}}
{{/if}}
</div>