<stat>
	<div><span class="header">이름 : </span>{{name}}</div>
	<div><span class="header">HP : </span>{{hp}}/{{maxHp}} 
		<span class="header">MP : </span>{{mp}}/{{maxMp}} 
		<span class="header">이동력 : </span>{{moveRate}}/{{maxMoveRate}}</div> 
		<span class="header">운 : </span>{{luck}}</div>
	<div>특성치</div>
	<ul>
	{{#each stats}}
		<li><span class="header">{{name}} : </span>{{value}}</li>
	{{/each}}
	</ul>
	<div>전투</div>
	<ul>
		<li><span class="header">피해가산점 : </span>{{dammegeBonus}}</li>
		<li><span class="header">체구 : </span>{{build}}</li>
		<li><span class="header">회피 : </span>{{dodge}}</li>
	</ul>
	<div>기술 목록</div>
	{{#each skills}}
		<li><span class="header">{{name}} : </span>{{point}}</li>
	{{/each}}
</stat>